* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    margin: 3rem;
    padding: 1rem 3rem;
    border-radius: 100px;
    border: none;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 1rem black;
    color: white;
    transition: transform 0.3s;
}

button:hover {
    background-color: blue;
    box-shadow: 0 0 1rem blue;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}
